*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.headerHero {
  width: 100%;
  margin-top: 2%;
}

.menu {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  width: 80%;
  float: right;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin-right: 5%;
}

.menu ul li a {
  text-decoration: none;
  color: red;
}

ul li ul li {
  display: flex;
  flex-direction: column;
}

.rejoignezNous__img {
  background: url(/Assets/bg__quote.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.rejoignezNous__quote {
  padding-top: 224px;
  color: #FFFFFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.6em;
  font-weight: bold;
}

.rejoignezNous__quote--color {
  color: #FF9C01;
  text-transform: uppercase;
}

.rejoignezNous__para {
  color: #FFFFFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 40px;
}

.rejoignezNous__button {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.rejoignezNous__button--membre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #698474;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.rejoignezNous__button--membre:hover {
  background-color: transparent;
  color: #FFFFFF;
  border: 4px solid;
}

.rejoignezNous__button--contactez {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 4px solid;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.rejoignezNous__button--contactez:hover {
  background-color: #698474;
  color: #FFFFFF;
  border: 4px solid #698474;
}

.partenaires {
  background-color: #698474;
  padding: 40px 0px;
}

.partenaires__title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 40px;
}

.partenaires__wrapper {
  width: 60%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.partenaires__wrapper--part {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

footer {
  background-color: #698474;
}

.footer {
  width: 90%;
  display: grid;
  grid-template-columns: 25% 20% 20% 15% 20%;
  grid-template-rows: 100%;
  font-family: "Nunito", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.footer__wrapper1 {
  margin-left: auto;
  margin-right: auto;
}

.footer__wrapper1--email p {
  color: #FFFFFF;
  font-weight: 600;
}

.footer__wrapper1--email a {
  color: #FFFFFF;
  font-weight: lighter;
  text-decoration: none;
}

.footer__wrapper1--socialMedia {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.footer__wrapper1--socialMedia a {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #698474;
  position: relative;
  overflow: hidden;
}

.footer__wrapper1--socialMedia a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-transform: translateY(100%) rotate(180deg) perspective(44px);
  transform: translateY(100%) rotate(180deg) perspective(44px);
  background-image: linear-gradient(360deg, #698474 0%, #D0DDD5 100%);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.footer__wrapper1--socialMedia a:hover::before {
  -webkit-transform: translateY(0%) rotate(0deg) perspective(44px);
  transform: translateY(0%) rotate(0deg) perspective(44px);
}

.footer__wrapper1--socialMedia a i {
  position: relative;
  z-index: 20;
}

.footer__wrapper2 {
  margin: auto;
}

.footer__wrapper2 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__wrapper2 a h1 {
  font-weight: bolder;
  font-size: 20px;
}

.footer__wrapper2 a h3 {
  font-weight: lighter;
  font-size: 16px;
}

.footer__wrapper3 {
  margin: auto;
}

.footer__wrapper3 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__wrapper3 a h1 {
  font-weight: bolder;
  font-size: 20px;
}

.footer__wrapper3 a h3 {
  font-weight: lighter;
  font-size: 16px;
}

.footer__wrapper4 {
  margin: 40.2px auto;
}

.footer__wrapper4 a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__wrapper4 a h1 {
  font-weight: bolder;
  font-size: 20px;
}

.footer__wrapper5 {
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.footer__wrapper5--contact {
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  border-radius: 8px;
  height: 80%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.footer__wrapper5--contact i {
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}

.footer__wrapper5--contact span {
  font-weight: bold;
}

.footer__wrapper5--contact div {
  margin-bottom: 40px;
}

.footer__wrapper5--membre {
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  border-radius: 8px;
  height: 90%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  width: 183.13px;
}

.footer__wrapper5--membre img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  margin-bottom: 8px;
}

.footer__wrapper5--membre span {
  font-weight: bold;
}

/*# sourceMappingURL=accueil.css.map */