@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: nunito, sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  margin-top: 2%;
}

.navMenu {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navMenu li {
  list-style: none;
}

.navMenu li a {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'poppins';
  color: black;
}

.navMenu li a:hover {
  color: green;
}

nav ul #act {
  position: relative;
}

nav ul #act ul {
  display: none;
  position: absolute;
  width: 200%;
  margin-left: -10%;
  background-color: rgba(243, 247, 245, 0.6);
}

nav ul #act ul li {
  padding-top: 10%;
  padding-left: 10%;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 40px;
  height: 4px;
  background-color: black;
  margin: 7px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul #act:hover ul {
  display: block;
}

ul li .active {
  color: #678372;
}

@media screen and (max-width: 1300px) {
  body {
    width: 100%;
  }
  .navMenu {
    width: 70%;
  }
  .navMenu li a {
    font-size: 14px;
  }
  nav .logo__logo {
    width: 90%;
  }
}

@media screen and (max-width: 875px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .navMenu {
    position: absolute;
    right: 0;
    height: 70vh;
    top: 18vh;
    background-color: rgba(79, 85, 82, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.8s ease-in;
    transition: -webkit-transform 0.8s ease-in;
    -o-transition: transform 0.8s ease-in;
    transition: transform 0.8s ease-in;
    transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  }
  .navMenu li {
    padding-left: 8%;
  }
  .navMenu li a {
    color: white;
  }
  .navMenu li a:hover {
    color: #D0DDD5;
  }
  .burger {
    display: block;
  }
  .nav-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  nav ul #act:hover ul {
    top: -100%;
    width: 200%;
    height: 20vh;
    margin-left: 50%;
    background: none;
  }
  nav ul #act:hover ul li {
    padding-left: 20%;
    height: 8vh;
  }
  nav .logo__logo {
    width: 100%;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .burger__line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 10px);
      -ms-transform: rotate(-45deg) translate(-5px, 10px);
          transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .burger__line2 {
  opacity: 0;
}

.toggle .burger__line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -10px);
      -ms-transform: rotate(45deg) translate(-5px, -10px);
          transform: rotate(45deg) translate(-5px, -10px);
}

.headerHero {
  width: 85%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: 'txtHeader imgHero' 'btnHeader imgHero';
}

@media screen and (max-width: 875px) {
  .headerHero {
    grid-template-columns: 100%;
    grid-template-areas: 'txtHeader' 'imgHero' 'btnHeader';
  }
}

.txtHeader {
  grid-area: txtHeader;
  align-self: center;
}

@media screen and (max-width: 875px) {
  .txtHeader {
    justify-self: center;
    text-align: center;
    margin-bottom: 2%;
  }
}

.txtHeader__tit1 {
  font-size: 5vw;
  margin-bottom: 4%;
  -webkit-text-stroke: 2.5px #678372;
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 875px) {
  .txtHeader__tit1 {
    font-size: 7vw;
    margin-bottom: 4%;
    -webkit-text-stroke: 2px #678372;
  }
}

.txtHeader__tit2 {
  font-size: 3.5vw;
}

@media screen and (max-width: 875px) {
  .txtHeader__tit2 {
    font-size: 4.6vw;
  }
}

.btnheader {
  grid-area: btnHeader;
}

@media screen and (max-width: 875px) {
  .btnheader {
    width: 100%;
    text-align: center;
  }
}

.imgHero {
  grid-area: imgHero;
  justify-self: end;
}

@media screen and (max-width: 875px) {
  .imgHero {
    margin-top: 2%;
    text-align: center;
  }
}

.imgHero__imgSld {
  width: 90%;
  float: right;
}

@media screen and (max-width: 875px) {
  .imgHero__imgSld {
    float: inherit;
  }
}

.btnH1 {
  width: 32%;
  margin-top: 6%;
  background: green;
  color: honeydew;
  border: none;
  border-radius: 6px;
  padding: 3% 0%;
  font-size: 1vw;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .btnH1 {
    width: 35%;
    padding: 3%;
    font-size: 2vw;
  }
}

.btnH2 {
  background: none;
  border: 2px solid green;
  color: black;
  padding: 2.7% 0%;
  margin-left: 8%;
}

@media screen and (max-width: 875px) {
  .btnH2 {
    padding: 2.7%;
  }
}

/*-----------------------------Activités--------------------------------*/
.acActivites {
  width: 100%;
  margin-top: 6%;
}

@media screen and (max-width: 875px) {
  .acActivites {
    padding-bottom: 4%;
  }
}

.acActivites .actit {
  font-size: 6vw;
  margin-left: 12%;
  margin-bottom: 4%;
  color: #698474;
}

.blocCart {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 25%;
  grid-template-areas: "cart1 cart2 cart3" "btn1 btn2 btn3";
}

@media screen and (max-width: 875px) {
  .blocCart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8%;
    grid-template-areas: "cart1" "btn1" "cart2" "btn2" "cart3" "btn3";
  }
}

.blocCart__cart1 {
  grid-area: cart1;
}

.blocCart__cart2 {
  grid-area: cart2;
}

@media screen and (max-width: 875px) {
  .blocCart__cart2 {
    margin-top: 5%;
  }
}

.blocCart__cart3 {
  grid-area: cart3;
}

@media screen and (max-width: 875px) {
  .blocCart__cart3 {
    margin-top: 5%;
  }
}

.blocCart .bCart {
  width: 70%;
  height: 32vh;
  margin: 0 auto;
  margin-top: 3%;
  padding: 5%;
  background: #D0DDD5;
}

@media screen and (max-width: 875px) {
  .blocCart .bCart {
    padding-bottom: 35%;
  }
}

.blocCart .bCart__Title {
  font-size: 1.4vw;
  margin-bottom: 2%;
}

@media screen and (max-width: 1300px) {
  .blocCart .bCart__Title {
    font-size: 2vw;
  }
}

@media screen and (max-width: 875px) {
  .blocCart .bCart__Title {
    font-size: 3.2vw;
  }
}

.blocCart .bCart__Parag {
  font-size: 1vw;
}

@media screen and (max-width: 1300px) {
  .blocCart .bCart__Parag {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 875px) {
  .blocCart .bCart__Parag {
    font-size: 2.1vw;
  }
}

.blcImg {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: white;
  margin-bottom: 6%;
}

.blcImg__ico {
  position: absolute;
  width: 70%;
  -webkit-transform: translate(22%, 20%);
      -ms-transform: translate(22%, 20%);
          transform: translate(22%, 20%);
}

.divBtn1 {
  grid-area: btn1;
  text-align: center;
  margin-top: 3%;
}

@media screen and (max-width: 875px) {
  .divBtn1 {
    width: 100%;
    justify-self: center;
  }
}

.divBtn1 .btnCart {
  width: 25%;
  background: #678372;
  border: none;
  border-radius: 15px;
  padding: 2%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.divBtn2 {
  grid-area: btn2;
  text-align: center;
  margin-top: 3%;
}

@media screen and (max-width: 875px) {
  .divBtn2 {
    width: 100%;
    justify-self: center;
  }
}

.divBtn2 .btnCart {
  width: 25%;
  background: #678372;
  border: none;
  border-radius: 15px;
  padding: 2%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.divBtn3 {
  grid-area: btn3;
  text-align: center;
  margin-top: 3%;
}

@media screen and (max-width: 875px) {
  .divBtn3 {
    width: 100%;
    justify-self: center;
  }
}

.divBtn3 .btnCart {
  width: 25%;
  background: #678372;
  border: none;
  border-radius: 15px;
  padding: 2%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*-----------------------------Destination--------------------------------*/
.acDestination {
  background: yellow;
  background-image: url(/Assets/bg.png);
  margin-top: 8%;
  padding-bottom: 4%;
}

.acDestination .actit2 {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 4%;
  font-size: 4vw;
  color: #4E6A68;
}

.blocC {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "c1 c2 c3";
}

@media screen and (max-width: 875px) {
  .blocC {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "c1" "c2" "c3";
  }
}

.blocCart__c1 {
  width: 90%;
  grid-area: c1;
  justify-self: center;
}

@media screen and (max-width: 875px) {
  .blocCart__c1 {
    width: 70%;
    margin-bottom: 5%;
  }
}

.blocCart__c2 {
  width: 90%;
  grid-area: c2;
  justify-self: center;
}

@media screen and (max-width: 875px) {
  .blocCart__c2 {
    width: 70%;
    margin-bottom: 5%;
  }
}

.blocCart__c3 {
  width: 90%;
  grid-area: c3;
  justify-self: center;
}

@media screen and (max-width: 875px) {
  .blocCart__c3 {
    width: 70%;
    margin-bottom: 5%;
  }
}

.bCart2 {
  background: white;
  width: 100%;
  margin: 0 auto;
}

.bCart2 .blcImg2 {
  width: 100%;
}

.bCart2 .blcImg2__ico2 {
  width: 100%;
  height: auto;
}

.divBtn {
  text-align: center;
}

.btnCart2 {
  width: 35%;
  background: white;
  border: 2px solid #707070;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4%;
  font-weight: bold;
  margin-bottom: 8%;
  cursor: pointer;
}

.acBlcTit {
  padding: 6%;
}

.acBlcTit__titH {
  text-align: center;
  margin-bottom: 4%;
  font-size: 1.5vw;
}

@media screen and (max-width: 875px) {
  .acBlcTit__titH {
    font-size: 3.2vw;
  }
}

.acBlcTit a {
  text-decoration: none;
  font-size: 1vw;
}

@media screen and (max-width: 875px) {
  .acBlcTit a {
    font-size: 2.2vw;
  }
}

/*----------------------------------Event-----------------------------------------*/
.acEven {
  width: 100%;
  padding-bottom: 4%;
}

.acEven__evenTit {
  font-size: 5vw;
  margin-top: 2%;
  margin-left: 12%;
  margin-bottom: 4%;
  color: #698474;
}

.blcEven {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "even1 img" "even2 img" "even3 img";
}

@media screen and (max-width: 875px) {
  .blcEven {
    grid-template-columns: 1fr;
    grid-template-rows: 15% 55% 15% 15%;
    grid-template-areas: "even1" "img" "even2" "even3";
  }
}

.acEvent1 {
  grid-area: even1;
  width: 70%;
  background: #698474;
  padding: 1%;
  margin-bottom: 3%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .acEvent1 {
    justify-self: center;
    margin: 2%;
  }
}

.acEvent2 {
  grid-area: even2;
  width: 70%;
  background: #698474;
  padding: 1%;
  margin-bottom: 3%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: white;
  color: #698474;
  border: 2px solid #698474;
}

@media screen and (max-width: 875px) {
  .acEvent2 {
    justify-self: center;
    margin: 2%;
  }
}

.acEvent3 {
  grid-area: even3;
  width: 70%;
  background: #698474;
  padding: 1%;
  margin-bottom: 3%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: white;
  color: #698474;
  border: 2px solid #698474;
}

@media screen and (max-width: 875px) {
  .acEvent3 {
    justify-self: center;
    margin: 2%;
  }
}

.evenAc {
  padding-bottom: 3%;
}

@media screen and (max-width: 1300px) {
  .evenAc {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1300px) {
  .evenAc__paragraph {
    font-size: 1.3vw;
  }
}

.acEvenR {
  grid-area: img;
  width: 100%;
}

@media screen and (max-width: 875px) {
  .acEvenR {
    justify-self: center;
    padding-bottom: 4%;
    margin-bottom: 6%;
  }
}

.acEvenR__imgEv {
  width: 70%;
  margin: 0 auto;
}

.acEvenR__imgEv--taille {
  width: 100%;
}

.acEvenR__acInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}

.acEvenR__acInfo--A {
  width: 25%;
  text-align: center;
}

.acEvenR__BtnE {
  text-align: center;
  margin-top: 8%;
}

.acEvenR__BtnE--B {
  background: #698474;
  width: 20%;
  padding: 1.5%;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.acLoca {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1vw;
}

.acLoca__acPara {
  position: absolute;
  -webkit-transform: translate(20%, 0%);
      -ms-transform: translate(20%, 0%);
          transform: translate(20%, 0%);
  font-size: 1vw;
}

/*-------------------------------------------Nature-------------------------------------------*/
.natImg {
  position: relative;
  width: 100%;
}

.natImg__imgNature {
  width: 100%;
  height: auto;
}

.natImg__imgIMG {
  width: 100%;
}

.natContent {
  position: absolute;
  width: 100%;
  height: 99.4%;
  text-align: center;
  top: 0;
  background: rgba(105, 132, 116, 0.6);
  color: white;
}

.descovNat {
  position: absolute;
  width: 100%;
  top: 25%;
}

.descovNat__natTit {
  font-size: 3vw;
  margin-bottom: 3%;
}

.descovNat__natTit span {
  color: #FF9C01;
}

.descovNat__natTit2 {
  font-size: 2vw;
  margin-bottom: 5%;
}

.natBtn {
  width: 70%;
  margin: 3% auto 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.natBtn__B1 {
  width: 25%;
  border: none;
  padding: 2.8%;
  border-radius: 6px;
  background: #698474;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2vw;
}

.natBtn__B2 {
  background: none;
  border: 2px solid white;
  padding: 2.5%;
}

/*-----------------------------------Galerie-----------------------------------------*/
.gaSec {
  width: 100%;
  text-align: center;
  margin-bottom: 8%;
}

.gaSec__gaTit {
  color: #4E6A68;
  font-size: 42px;
  margin: 8% auto;
}

.gaSec__gaTit--galbtn {
  margin-top: 4%;
  width: 8%;
  background: #698474;
  border: none;
  border-radius: 25px;
  padding: 1%;
  color: white;
  font-size: 1vw;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .gaSec__gaTit--galbtn {
    margin-top: 7%;
    font-size: 2vw;
    padding: 1%;
    width: 15%;
  }
}

@media screen and (max-width: 875px) {
  .gaSec__gaTit--galbtn {
    font-size: 3vw;
    padding: 1.5%;
    width: 25%;
  }
}

.gaSec__gaSld {
  position: relative;
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gaSec__gaSld--galImg {
  width: 12%;
}

@media screen and (max-width: 1300px) {
  .gaSec__gaSld--galImg {
    width: 18%;
  }
}

@media screen and (max-width: 875px) {
  .gaSec__gaSld--galImg {
    width: 45%;
  }
}

@media screen and (max-width: 1300px) {
  .gaSec__gaSld--galImg2 {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .gaSec__gaSld--galImg3 {
    display: none;
  }
}

@media screen and (max-width: 875px) {
  .gaSec__gaSld--galImg1 {
    display: none;
  }
}

@media screen and (max-width: 875px) {
  .gaSec__gaSld--galImg4 {
    display: none;
  }
}

@media screen and (max-width: 875px) {
  .gaSec__gaSld--galImg5 {
    display: none;
  }
}

.gaSec__gaSld--galImg1 {
  position: absolute;
  width: 13%;
}

@media screen and (max-width: 1300px) {
  .gaSec__gaSld--galImg1 {
    width: 20%;
  }
}

/*---------------------------------team--------------------------------------*/
.teaSec {
  width: 100%;
  height: 120vh;
  background-image: url(/Assets/bg1.png);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
  padding-bottom: 2%;
}

@media screen and (max-width: 875px) {
  .teaSec {
    overflow-x: hidden;
    height: 300vh;
  }
}

.teaSec__teaTit {
  text-align: center;
  color: #4E6A68;
  font-size: 42px;
  margin-bottom: 10%;
}

.blocTea1 {
  width: 85%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "team1 team2 team3" "team4 team5 team6";
}

@media screen and (max-width: 875px) {
  .blocTea1 {
    padding-top: 8%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "team1" "team2" "team3" "team4" "team5" "team6";
  }
}

.teaCart1 {
  position: relative;
  grid-area: team1;
  width: 60%;
  height: 60%;
  justify-self: center;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teaCart2 {
  position: relative;
  grid-area: team2;
  justify-self: center;
  width: 60%;
  height: 60%;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teaCart3 {
  position: relative;
  grid-area: team3;
  justify-self: center;
  width: 60%;
  height: 60%;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teaCart4 {
  position: relative;
  grid-area: team4;
  justify-self: center;
  width: 60%;
  height: 60%;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teaCart5 {
  position: relative;
  grid-area: team5;
  justify-self: center;
  width: 60%;
  height: 60%;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teaCart6 {
  position: relative;
  grid-area: team6;
  justify-self: center;
  width: 60%;
  height: 60%;
  background: white;
  text-align: center;
  border: 2px solid #D0DDD5;
}

.teamCartImg {
  width: 100%;
  position: absolute;
  border-radius: 50px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.teaCart__teaImg {
  width: 50%;
}

@media screen and (max-width: 875px) {
  .teaCart__teaImg {
    width: 40%;
  }
}

.teaCart__teaBlcinfo {
  width: 100%;
  height: 100%;
  text-align: center;
}

.teaCart__teaTitCart {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 40%;
}

.teaCart__teaTitCart1 {
  font-size: 1.7vw;
  margin-bottom: 2%;
}

@media screen and (max-width: 875px) {
  .teaCart__teaTitCart1 {
    font-size: 2.7vw;
  }
}

.teaCart__teaTitCart2 {
  font-size: 1.2vw;
}

@media screen and (max-width: 875px) {
  .teaCart__teaTitCart2 {
    font-size: 2.5vw;
  }
}

.blcTeaIco {
  position: absolute;
  bottom: 0;
  padding: 3%;
  border-top: 2px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #D0DDD5;
}

.blcTeaIco__bTeaImg {
  width: 10%;
  border-radius: 50px;
  cursor: pointer;
}

/*------------------------------footer---------------------------------*/
.footerSec {
  position: relative;
  width: 100%;
  height: 65vh;
  background: #BAC7A7;
  background-image: url(/Assets/bg__newsletter.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  .footerSec {
    height: 50vh;
  }
}

@media screen and (max-width: 875px) {
  .footerSec {
    height: 40vh;
  }
}

.footerSec__Tit1 {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  font-size: 2.2vw;
  color: white;
}

.formFooter {
  margin-top: 4%;
}

.formInput {
  padding: 1%;
  width: 24%;
  border-radius: 25px;
  border: none;
  font-size: 1vw;
}

@media screen and (max-width: 1300px) {
  .formInput {
    width: 35%;
  }
}

.formBtn {
  padding: 1%;
  width: 12%;
  border-radius: 25px;
  border: none;
  color: white;
  margin-left: -8%;
  background: #678372;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .formBtn {
    width: 15%;
  }
}

.lastFooter {
  width: 100%;
  padding-bottom: 5%;
  background: #698474;
  text-align: center;
}

.lastFooter__titpart {
  font-size: 3vw;
  margin: 0 auto;
  padding-top: 4%;
}

.footerPart {
  width: 85%;
  margin: 4% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footerPart__imgPart {
  width: 8%;
}

.footerInfo {
  width: 85%;
  height: 30vh;
  margin: 10% auto 0%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "fo1 fo2 fo3 fo4 fo5";
  color: white;
  line-height: 3rem;
}

@media screen and (max-width: 1300px) {
  .footerInfo {
    height: 60vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "fo2 fo3 fo4" "fo1 . fo5";
  }
}

@media screen and (max-width: 875px) {
  .footerInfo {
    height: 45vh;
    line-height: 2rem;
    margin-bottom: 12%;
  }
}

.foBloc1 {
  grid-area: fo1;
  font-size: 1vw;
}

.foBloc1__infoCont {
  font-size: 1vw;
  text-align: left;
}

@media screen and (max-width: 875px) {
  .foBloc1__infoCont {
    font-size: 1.7vw;
  }
}

.foBloc2 {
  grid-area: fo2;
}

.foBloc2__title1 {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc2__title1 {
    font-size: 2.5vw;
  }
}

.foBloc2__title2 {
  font-size: 1.2vw;
}

@media screen and (max-width: 875px) {
  .foBloc2__title2 {
    font-size: 1.8vw;
  }
}

.foBloc2 a {
  text-decoration: none;
  color: white;
}

.foBloc3 {
  grid-area: fo3;
}

.foBloc3__title1 {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc3__title1 {
    font-size: 2.5vw;
  }
}

.foBloc3__title2 {
  font-size: 1.2vw;
}

@media screen and (max-width: 875px) {
  .foBloc3__title2 {
    font-size: 1.8vw;
  }
}

.foBloc3 a {
  text-decoration: none;
  color: white;
}

.foBloc4 {
  grid-area: fo4;
}

.foBloc4__title {
  font-size: 1.8vw;
}

@media screen and (max-width: 875px) {
  .foBloc4__title {
    font-size: 2.5vw;
  }
}

.foBloc4 a {
  text-decoration: none;
  color: white;
}

.foBloc5 {
  grid-area: fo5;
}

@media screen and (max-width: 1300px) {
  .foBloc5 {
    width: 100%;
    padding-top: 20%;
  }
}

.foBloc1__icofooter {
  width: 100%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.foBloc5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.foBloc5__btnFtr {
  width: 90%;
  height: 10vh;
  border-radius: 8px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.imgBTN {
  width: 16%;
}

.btnFtr_marg {
  margin-bottom: 4%;
}

.icofooter {
  width: 16%;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  background: #D0DDD5;
  padding: 1%;
}

.copyright__spano {
  color: blue;
}
/*# sourceMappingURL=style.css.map */