.footerSec {
    position: relative;
    width: 100%;
    height: 65vh;
    background: #BAC7A7;
    background-image: url(/Assets/bg__newsletter.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width:1300px) {
        height: 50vh;
    }

    @media screen and (max-width:875px) {
        height: 40vh;
    }




    &__Tit1 {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        font-size: 2.2vw;
        color: white;
    }
}

.formFooter {
    margin-top: 4%;


}

.formInput {
    padding: 1%;
    width: 24%;
    border-radius: 25px;
    border: none;
    font-size: 1vw;

    @media screen and (max-width:1300px) {
        width: 35%;
    }
}

.formBtn {
    padding: 1%;
    width: 12%;
    border-radius: 25px;
    border: none;
    color: white;
    margin-left: -8%;
    background: #678372;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;

    @media screen and (max-width:1300px) {
        width: 15%;
    }
}

//------------------------------------last-Footer----------------------------------------
.lastFooter {

    width: 100%;
    padding-bottom: 5%;
    background: #698474;
    text-align: center;


    &__titpart {
        font-size: 3vw;
        margin: 0 auto;
        padding-top: 4%;
    }
}

.footerPart {
    width: 85%;
    margin: 4% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__imgPart {
        width: 8%;
    }
}

//-----------------------------------------grid--------------------------------------------------
.footerInfo {

    width: 85%;
    height: 30vh;
    margin: 10% auto 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "fo1 fo2 fo3 fo4 fo5";
    color: white;
    line-height: 3rem;

    @media screen and (max-width:1300px) {
        height: 60vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "fo2 fo3 fo4""fo1 . fo5";
    }

    @media screen and (max-width:875px) {
        height: 45vh;
        line-height: 2rem;
        margin-bottom: 12%;
    }


}

.foBloc1 {
    grid-area: fo1;
    font-size: 1vw;

    &__infoCont {
        font-size: 1vw;
        text-align: left;

        @media screen and (max-width:875px) {
            font-size: 1.7vw;
        }
    }

}

.foBloc2 {
    grid-area: fo2;

    &__title1 {
        font-size: 1.8vw;

        @media screen and (max-width:875px) {
            font-size: 2.5vw;
        }
    }

    &__title2 {
        font-size: 1.2vw;

        @media screen and (max-width:875px) {
            font-size: 1.8vw;
        }
    }

    & a {
        text-decoration: none;
        color: white;
    }


}

.foBloc3 {
    grid-area: fo3;

    &__title1 {
        font-size: 1.8vw;

        @media screen and (max-width:875px) {
            font-size: 2.5vw;
        }
    }

    &__title2 {
        font-size: 1.2vw;

        @media screen and (max-width:875px) {
            font-size: 1.8vw;
        }
    }

    & a {
        text-decoration: none;
        color: white;
    }

}

.foBloc4 {
    grid-area: fo4;

    &__title {
        font-size: 1.8vw;

        @media screen and (max-width:875px) {
            font-size: 2.5vw;
        }
    }

    & a {
        text-decoration: none;
        color: white;
    }

}

.foBloc5 {
    grid-area: fo5;

    @media screen and (max-width:1300px) {
        width: 100%;
        padding-top: 20%;
    }
}

.foBloc1__icofooter {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.foBloc5 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    &__btnFtr {
        width: 90%;
        height: 10vh;
        border-radius: 8px;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

    }
}

.imgBTN {
    width: 16%;
}

.btnFtr_marg {
    margin-bottom: 4%;
}

.icofooter {
    width: 16%;
    cursor: pointer;

}

.copyright {
    width: 100%;
    text-align: center;
    background: #D0DDD5;
    padding: 1%;

    &__spano {
        color: blue;
    }

}