*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: nunito, sans-serif;
}



@mixin btnCss {
    width: 25%;
    background: #678372;
    border: none;
    border-radius: 15px;
    padding: 2%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

//---------------------------Menu----------------------------//
@import '_menu.scss';
//------------------------Header-Hero------------------------//
@import '_headerHero.scss';

/*-----------------------------Activités--------------------------------*/
.acActivites {
    width: 100%;
    margin-top: 6%;

    @media screen and (max-width:875px) {
        padding-bottom: 4%;
    }


    & .actit {
        font-size: 6vw;
        margin-left: 12%;
        margin-bottom: 4%;
        color: #698474;
    }

}

.blocCart {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 25%;
    grid-template-areas: "cart1 cart2 cart3"
        "btn1 btn2 btn3";

    @media screen and (max-width:875px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 8%;
        grid-template-areas: "cart1"
            "btn1"
            "cart2"
            "btn2"
            "cart3"
            "btn3";
    }

    &__cart1 {

        grid-area: cart1;


    }

    &__cart2 {
        grid-area: cart2;

        @media screen and (max-width:875px) {
            margin-top: 5%;
        }

    }

    &__cart3 {
        grid-area: cart3;

        @media screen and (max-width:875px) {
            margin-top: 5%;
        }
    }

    & .bCart {
        width: 70%;
        height: 32vh;
        margin: 0 auto;
        margin-top: 3%;
        padding: 5%;
        background: #D0DDD5;

        @media screen and (max-width:875px) {
            padding-bottom: 35%;
        }

        &__Title {
            font-size: 1.4vw;
            margin-bottom: 2%; //-----------------------------------

            @media screen and(max-width:1300px) {
                font-size: 2vw;
            }

            @media screen and (max-width:875px) {
                font-size: 3.2vw;
            }
        }

        &__Parag {
            font-size: 1vw;

            @media screen and(max-width:1300px) {
                font-size: 1.3vw;
            }

            @media screen and (max-width:875px) {
                font-size: 2.1vw;
            }
        }


    }

}

.blcImg {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: white;
    margin-bottom: 6%;



    &__ico {
        position: absolute;
        width: 70%;
        transform: translate(22%, 20%);



    }
}


.divBtn1 {

    grid-area: btn1;
    text-align: center;
    margin-top: 3%;

    @media screen and (max-width:875px) {
        width: 100%;
        justify-self: center;
    }

    & .btnCart {

        @include btnCss();


    }

}

.divBtn2 {
    grid-area: btn2;
    text-align: center;
    margin-top: 3%;

    @media screen and (max-width:875px) {
        width: 100%;
        justify-self: center;
    }

    & .btnCart {
        @include btnCss();

    }

}

.divBtn3 {
    grid-area: btn3;
    text-align: center;
    margin-top: 3%;

    @media screen and (max-width:875px) {
        width: 100%;
        justify-self: center;
    }

    & .btnCart {
        @include btnCss();

    }

}


/*-----------------------------Destination--------------------------------*/
.acDestination {


    background: yellow;
    background-image: url(/Assets/bg.png);
    margin-top: 8%;
    padding-bottom: 4%;


    & .actit2 {
        text-align: center;
        padding-top: 5%;
        margin-bottom: 4%;
        font-size: 4vw;
        color: #4E6A68;

    }
}

.blocC {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "c1 c2 c3";

    @media screen and (max-width:875px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "c1""c2""c3";
    }
}

.blocCart__c1 {
    width: 90%;
    grid-area: c1;
    justify-self: center;

    @media screen and (max-width:875px) {
        width: 70%;
        margin-bottom: 5%;
    }
}

.blocCart__c2 {
    width: 90%;
    grid-area: c2;
    justify-self: center;

    @media screen and (max-width:875px) {
        width: 70%;
        margin-bottom: 5%;
    }
}

.blocCart__c3 {
    width: 90%;
    grid-area: c3;
    justify-self: center;

    @media screen and (max-width:875px) {
        width: 70%;
        margin-bottom: 5%;
    }
}


.bCart2 {
    background: white;
    width: 100%;
    margin: 0 auto;


    & .blcImg2 {
        width: 100%;


        &__ico2 {

            width: 100%;
            height: auto;
        }
    }
}

.divBtn {
    text-align: center;
}

.btnCart2 {

    width: 35%;
    background: white;
    border: 2px solid #707070;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 4%;
    font-weight: bold;
    margin-bottom: 8%;
    cursor: pointer;

}

.acBlcTit {
    padding: 6%;

    &__titH {
        text-align: center;
        margin-bottom: 4%;
        font-size: 1.5vw;

        @media screen and (max-width:875px) {
            font-size: 3.2vw;
        }
    }

    & a {
        text-decoration: none;
        font-size: 1vw;

        @media screen and (max-width:875px) {
            font-size: 2.2vw;
        }
    }
}


/*----------------------------------Event-----------------------------------------*/
@mixin evenStyle {
    width: 70%;
    background: #698474;
    padding: 1%;
    margin-bottom: 3%;
    color: white;
    align-items: center;
    cursor: pointer;
}

.acEven {
    width: 100%;
    padding-bottom: 4%;



    &__evenTit {
        font-size: 5vw;
        margin-top: 2%;
        margin-left: 12%;
        margin-bottom: 4%;
        color: #698474;
    }
}

.blcEven {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "even1 img"
        "even2 img"
        "even3 img";

    @media screen and (max-width:875px) {
        grid-template-columns: 1fr;
        grid-template-rows: 15% 55% 15% 15%;
        grid-template-areas: "even1"
            "img"
            "even2"
            "even3";
    }

}




.acEvent1 {
    grid-area: even1;
    @include evenStyle();

    @media screen and (max-width:875px) {
        justify-self: center;
        margin: 2%;
    }
}

.acEvent2 {
    grid-area: even2;
    @include evenStyle();
    background: white;
    color: #698474;
    border: 2px solid #698474;

    @media screen and (max-width:875px) {
        justify-self: center;
        margin: 2%;
    }
}

.acEvent3 {
    grid-area: even3;
    @include evenStyle();
    background: white;
    color: #698474;
    border: 2px solid #698474;

    @media screen and (max-width:875px) {
        justify-self: center;
        margin: 2%;
    }
}

.evenAc {
    padding-bottom: 3%;

    @media screen and (max-width:1300px) {
        font-size: 1.5vw;
    }

    &__paragraph {
        @media screen and (max-width:1300px) {
            font-size: 1.3vw;
        }

    }
}

.acEvenR {
    grid-area: img;
    width: 100%;

    @media screen and (max-width:875px) {

        justify-self: center;
        padding-bottom: 4%;
        margin-bottom: 6%;
    }




    &__imgEv {

        width: 70%;
        margin: 0 auto;

        &--taille {
            width: 100%;
        }
    }

    &__acInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 2%;

        &--A {
            width: 25%;
            text-align: center;
        }
    }

    &__BtnE {
        text-align: center;
        margin-top: 8%;

        &--B {
            background: #698474;
            width: 20%;
            padding: 1.5%;
            border-radius: 15px;
            border: none;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
    }
}

.acLoca {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1vw;

    &__acPara {
        position: absolute;
        transform: translate(20%, 0%);
        font-size: 1vw;
    }
}

/*-------------------------------------------Nature-------------------------------------------*/
@import '_sectionNature.scss';

/*-----------------------------------Galerie-----------------------------------------*/
.gaSec {
    width: 100%;
    text-align: center;
    margin-bottom: 8%;


    &__gaTit {
        color: #4E6A68;
        font-size: 42px;
        margin: 8% auto;

        &--galbtn {
            margin-top: 4%;
            width: 8%;
            background: #698474;
            border: none;
            border-radius: 25px;
            padding: 1%;
            color: white;
            font-size: 1vw;
            cursor: pointer;

            @media screen and (max-width:1300px) {
                margin-top: 7%;
                font-size: 2vw;
                padding: 1%;
                width: 15%;
            }

            @media screen and (max-width:875px) {
                font-size: 3vw;
                padding: 1.5%;
                width: 25%;
            }
        }
    }

    &__gaSld {
        position: relative;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;


        &--galImg {
            width: 12%;

            @media screen and (max-width:1300px) {
                width: 18%;
            }

            @media screen and (max-width:875px) {
                width: 45%;
            }
        }
    }
}

.gaSec__gaSld--galImg2 {
    @media screen and (max-width:1300px) {
        display: none;
    }
}

.gaSec__gaSld--galImg3 {
    @media screen and (max-width:1300px) {
        display: none;
    }
}

.gaSec__gaSld--galImg1 {
    @media screen and (max-width:875px) {
        display: none;
    }
}

.gaSec__gaSld--galImg4 {
    @media screen and (max-width:875px) {
        display: none;
    }
}

.gaSec__gaSld--galImg5 {
    @media screen and (max-width:875px) {
        display: none;
    }
}

.gaSec__gaSld--galImg1 {
    position: absolute;
    width: 13%;

    @media screen and (max-width:1300px) {
        width: 20%;
    }

}

/*---------------------------------team--------------------------------------*/
.teaSec {

    width: 100%;
    height: 120vh;
    background-image: url(/Assets/bg1.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    padding-bottom: 2%;

    @media screen and (max-width:875px) {
        overflow-x: hidden;
        height: 300vh;
    }



    &__teaTit {
        text-align: center;
        color: #4E6A68;
        font-size: 42px;
        margin-bottom: 10%;

    }
}

.blocTea1 {
    width: 85%;
    height: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "team1 team2 team3"
        "team4 team5 team6";

    @media screen and (max-width:875px) {
        padding-top: 8%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "team1""team2""team3"
            "team4""team5""team6";
    }

}

.teaCart1 {
    position: relative;
    grid-area: team1;
    width: 60%;
    height: 60%;
    justify-self: center;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teaCart2 {
    position: relative;
    grid-area: team2;
    justify-self: center;
    width: 60%;
    height: 60%;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teaCart3 {
    position: relative;
    grid-area: team3;
    justify-self: center;
    width: 60%;
    height: 60%;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teaCart4 {
    position: relative;
    grid-area: team4;
    justify-self: center;
    width: 60%;
    height: 60%;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teaCart5 {
    position: relative;
    grid-area: team5;
    justify-self: center;
    width: 60%;
    height: 60%;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teaCart6 {
    position: relative;
    grid-area: team6;
    justify-self: center;
    width: 60%;
    height: 60%;
    background: white;
    text-align: center;
    border: 2px solid #D0DDD5;
}

.teamCartImg {
    width: 100%;
    position: absolute;
    border-radius: 50px;
    transform: translate(0%, -50%);

}

.teaCart__teaImg {

    width: 50%;

    @media screen and (max-width:875px) {
        width: 40%;
    }
}

.teaCart__teaBlcinfo {

    width: 100%;
    height: 100%;
    text-align: center;
}

.teaCart__teaTitCart {
    position: absolute;
    width: 100%;

    height: 30%;
    top: 40%;


}

.teaCart__teaTitCart1 {
    font-size: 1.7vw;
    margin-bottom: 2%;

    @media screen and (max-width:875px) {
        font-size: 2.7vw;
    }
}

.teaCart__teaTitCart2 {
    font-size: 1.2vw;

    @media screen and (max-width:875px) {
        font-size: 2.5vw;
    }
}

.blcTeaIco {
    position: absolute;
    bottom: 0;
    padding: 3%;
    border-top: 2px solid #707070;
    display: flex;
    justify-content: space-around;
    background: #D0DDD5;


    &__bTeaImg {
        width: 10%;
        border-radius: 50px;
        cursor: pointer;

    }

}

/*------------------------------footer---------------------------------*/
@import '_footer.scss';