*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

///////////////////////////////////////////
.sectionDestination{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-self: center;
    background-image: url(/Assets/bg.png);
     
}
h1{
    font-size:3rem ;
    color:#BAC7A7;
    text-align: center;
}
.paragraphTop{
    font-size: 1.5rem;
}
.destinationGroup{
    width: 85%;
    margin: 0 auto;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;

/*     display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 2%;
    grid-template-areas: 
    "destinationCard1 destinationCard2 destinationCard3"
    "destinationCard4 destinationCard5 destinationCard6"
    "destinationCard7 destinationCard8 destinationCard9";

   & .destinationCard1{
        grid-area: destinationCard1;
   }
   & .destinationCard2{
    grid-area: destinationCard2;
}
& .destinationCard3{
    grid-area: destinationCard3;
}
& .destinationCard3{
    grid-area: destinationCard3;
} */


}
.destination{
    width: 30%;
    // width:263px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    border-radius: 5px;
    background-color:#FFF;
    box-shadow: 9px 9px 20px grey;
    @media screen and (max-width: 770px){ 
        width: 45%;
    }
    @media screen and (max-width: 450px){
        width: 100%;
    }
   
    &__paragraph{
        width: 70%;
        text-align: center;
    }
    &__img{
        width: 100%;
    }
    &__button{
        // width: 100%;
        margin: 23px 0;
        padding: 10px 20px;
        font-size: 14px;
        border: 2px solid #698474;
        border-radius: 15px;
        color: #fff;
        background-color: #698474;
        // box-shadow: 0 rgba(9,30,66,0.6);
        // background-image: linear-gradient(to bottom, #698474, #BAC7A7);
        &:hover{
            background-color: #FFF;
            // background-image: linear-gradient(to bottom, #fff, #fff);
            color: #698474;
            // box-shadow: 0 2px 4px -1px rgba(9,30,66,0.6);
            // transition:400ms;
        }

    }
    // &__title{
    //     // width: 100%;
    // }

}
