@import "variables";
// Rejoignez Nous version desktop //

.rejoignezNous{
    &__img{
    background: url(/Assets/bg__quote.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    }
    &__quote{
        padding-top: 224px;
        color: $colorW;
        text-align: center;
        font-family: $fontT;
        font-size: 48px;
        line-height: 1.6em;
        font-weight: bold;
        &--color{
            color: $colorO;
            text-transform: uppercase;
        }
    }
    &__para{
        color: $colorW;
        text-align: center;
        font-family: $fontT;
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 40px;
        
    }
    &__button{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

        &--membre{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: $colorP;
            border: none;
            font-family: $fontP;
            font-weight: bold;
            color: $colorW;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }
        &--membre:hover{
            background-color: transparent;
            color: $colorW;
            border: 4px solid;
        }
        &--contactez{
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            border: 4px solid;
            font-family: $fontP;
            font-weight: bold;
            color: $colorW;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }
        &--contactez:hover{
            background-color: $colorP;
            color: $colorW;
            border: 4px solid $colorP;
        }
    }
    
}
// Rejoignez Nous version desktop FIN//