$colorP: #698474;
$colorS: #BAC7A7;
$colorA: #D0DDD5;
$colorO: #FF9C01;
$colorD:#000000;
$colorV:#369D53;
$colorW: #FFFFFF;
$colorY:#038DFE;
$fontP: 'Nunito', sans-serif;
$fontT: 'Poppins', sans-serif;